.button {
    -webkit-appearance: none;
    height: 32px;
    padding: 0 10px;
    background-color: #deecff;
    margin-right: 5px;
    font-size: 10pt;
    color: #69779b;
    border: 1px solid #b7cce2;
    text-transform: capitalize;
}

.selected {
    background-color: #69779b;
    color: #deecff;
}
