.name {
    margin-bottom: 10px;
}

.swatch {
    width: 32px;
    height: 32px;
    margin: 0 5px 0 0;
    border: 1px solid #b7cce2;
    image-rendering: pixelated;
}

.selected {
    border: 1px solid #69779b;
}
