.container {
    background-color: #f3f8ff;
    margin: 10px;
    display: inline-block;
    box-shadow: 5px 5px 0 #809CB0;
}

.header {
    background-color: #deecff;
    color: #69779b;
    border-bottom: 1px solid #b7cce2;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-transform: capitalize;
}

.header h2 {
    font-weight: normal;
}

.body {
    padding: 10px;
    font-size: 10pt;
}
