.container {
    background-color: #f3f8ff;
    margin: 10px;
    display: inline-block;
}

.header {
    background-color: #deecff;
    color: #69779b;
    padding: 10px;
}

.body {
    padding: 10px;
    font-size: 10pt;
}
