.container {
    background-color: #aaaaaa;
    margin: 10px;
    font-family: m5x7, monospace;
}

.header {
    background-color: #888888;
    color: #FFF;
    text-transform: uppercase;
    padding: 5px;
}

.body {
    padding: 5px;
}
